{% extends 'todobase.html.twig' %}

{% block body %}
<h1>Your tasks.</h1>

{% if tasks is empty %}
<p>You have no tasks.</p>
{% else %}
<div class="task-list">
    {% for task in tasks %}
    <div class="task-card">
        <div class="task-content">
            <div class="task-header">
                <h5>{{ task.name }}</h5>
                <p class="hidden-date">Creation date: {{ task.createAt|date('Y-m-d H:i') }}</p>
            </div>
            <div class="task-body">
                <p>{{ task.description }}</p>
                <p class="text-muted">
                    {% if task.date|date('Y-m-d') == "now"|date_modify("+1 day")|date('Y-m-d') %}
                    <span class="text-warning">Tomorrow</span>
                    {% else %}
                    Due date: {{ task.date|date('Y-m-d') }}
                    {% endif %}
                </p>
            </div>
            <div class="task-footer">
                <div class="btn-group">
                    <a href="{{ path('edit_task', { id: task.id }) }}" class="btn btn-sm btn-outline-secondary">
                        <i class="bi bi-pen"></i>
                    </a>
                    <form action="{{path('delete-task')}}" method="post">
                        <input type="hidden" name="id" value="{{ task.id }}">
                        <input type="hidden" name="page" value="nottoday-tasks">
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}